body {
    margin: 0;
    display: flex;
    font-family: 'Roboto', sans-serif;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#fullscreen_background {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background:rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.fullscreen {
    padding: 20px;
    min-height: 30vh;
    height: auto !important;
    width: 50vw !important;
    gap: 60px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute !important;
    left: 25vw;
    box-shadow: 0px 0px 15px 3px #acabab;
    z-index: 2;
}

.fullscreen_infos {
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}

.fullscreen_heading {
    font-size: 26px;
    font-weight: 500;
}

.fullscreen_row {
    gap: 20px;
    justify-content: space-between;
}

.board_column {
    width: 20%;
    flex-direction: column;
}

.drag-area {
    padding: 20px;
    min-height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    gap: 20px;
    background: rgb(241, 242, 246);
    box-sizing: border-box;
}

.todo {
    height: 60px;
    width: 100%;
    background: white;
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;
    position: relative;
}

.hover {
    background-color: rgb(231, 232, 239);
}

.show_more {
    height: 40px;
    position: absolute;
    right: 0;
}