<div
  class="flex w-full flex-col items-center justify-between border-r border-t bg-white lg:h-full lg:w-52 lg:border-t-0 lg:pt-12 lg:pb-24">
  @if (user) {
  <div class="flex w-full justify-around gap-5 lg:w-auto lg:flex-col lg:font-light">
    <a routerLink="/summary" [routerLinkActive]="'bg-custom-blue-active'"
      class="flex flex-col items-center gap-5 py-2 px-2 sm:px-6 lg:flex-row lg:rounded-lg">
      <img class="h-6 w-6" src="assets/img/Vector-9.svg" alt="summary" />
      <span class="text-sm sm:text-base">Summary</span>
    </a>
    <a routerLink="/board" [routerLinkActive]="'bg-custom-blue-active'"
      class="flex flex-col items-center gap-5 py-2 px-2 sm:px-6 lg:flex-row lg:rounded-lg">
      <img class="h-6 w-6" src="assets/img/Vector-10.svg" alt="board" />
      <span class="text-sm sm:text-base">Board</span>
    </a>
    <a routerLink="/add-task" [routerLinkActive]="'bg-custom-blue-active'"
      class="flex flex-col items-center gap-5 py-2 px-2 sm:px-6 lg:flex-row lg:rounded-lg">
      <img class="h-6 w-6" src="assets/img/Group 1.svg" alt="add task" />
      <span class="text-sm sm:text-base">Add Task</span>
    </a>
    <a routerLink="/contacts" [routerLinkActive]="'bg-custom-blue-active'"
      class="flex flex-col items-center gap-5 py-2 px-2 sm:px-6 lg:flex-row lg:rounded-lg">
      <img class="h-6 w-6" src="assets/img/Vector-12.svg" alt="contacts" />
      <span class="text-sm sm:text-base">Contacts</span>
    </a>
  </div>
  }

  <a routerLink="/legal-notice" [routerLinkActive]="['bg-custom-blue-dark', 'text-white', 'white-image']"
    class="hidden items-center gap-5 rounded-lg py-2 px-6 lg:flex">
    <img class="h-6 w-6" src="assets/img/info.svg" alt="legal notice" />
    <span class="lg:font-light">Legal notice</span>
  </a>
</div>
