<div
  class="relative flex max-h-[90vh] min-h-[40vh] w-full flex-col gap-5 rounded-3xl bg-white p-8 text-xl font-light shadow-custom-info-fields"
>
  <div class="flex w-full items-center justify-between">
    <span
      [ngStyle]="{
        'background-color':
          taskDetailService.openedTaskDetailView.category.color
      }"
      class="w-fit rounded-lg py-1 px-6 text-white"
    >
      {{ taskDetailService.openedTaskDetailView.category.name }}
    </span>

    <img
      class="cursor-pointer"
      src="assets/img/cancel.svg"
      alt="close"
      (click)="taskDetailService.closeTaskDetailView()"
    />
  </div>

  <h1 class="text-6xl font-semibold">
    {{ taskDetailService.openedTaskDetailView.title }}
  </h1>

  <span>{{ taskDetailService.openedTaskDetailView.description }}</span>

  <div class="flex gap-5">
    <span class="font-semibold">Due date:</span>
    <span>{{ taskDetailService.openedTaskDetailView.dueDate }}</span>
  </div>

  <div class="flex items-center gap-5">
    <span class="font-semibold">Priority:</span>
    <img
      class="h-9"
      [src]="taskDetailService.openedTaskDetailView.urgency.imageDetail"
      alt="urgency"
    />
  </div>

  <div
    *ngIf="taskDetailService.openedTaskDetailView.subtasks.length > 0"
    class="flex gap-5"
  >
    <span class="font-semibold">Subtasks:</span>

    <ul>
      <li
        *ngFor="let subtask of taskDetailService.openedTaskDetailView.subtasks, index as i"
        class="flex gap-5 justify-between mb-2"
      >
        <span>{{ subtask.name }}</span>

        <input
          type="checkbox"
          class="cursor-pointer accent-custom-blue"
          [checked]="subtask.completed"
          (change)="taskDetailService.toggleSubtask(i)"
        />
      </li>
    </ul>
  </div>
  <ul class="overflow-y-scroll">
    <li
      class="mb-5 flex items-center gap-5"
      *ngFor="let assignee of taskDetailService.openedTaskDetailView.assignedTo"
    >
      <div
        class="box-border flex h-10 min-w-[40px] items-center justify-center rounded-full text-white"
        [ngStyle]="{ backgroundColor: assignee.backgroundColor }"
      >
        {{ assignee.abbrevation }}
      </div>
      <span>{{ assignee.name }}</span>
    </li>
  </ul>

  <div class="absolute right-8 bottom-4 flex gap-2">
    <button
      class="blue-filter-hover box-border rounded-lg border border-gray-400 p-2 transition-all hover:border-custom-blue"
      (click)="confirmService.toggleConfirmDialogOpened()"
    >
      <div class="p-1">
        <img
          style="
            filter: invert(68%) sepia(11%) saturate(295%) hue-rotate(179deg)
              brightness(95%) contrast(87%);
          "
          class="h-6 w-6 transition-all"
          src="assets/img/delete.svg"
          alt="edit"
        />
      </div>
    </button>

    <app-button-primary (click)="taskDetailService.toggleEditMode()">
      <div class="p-1">
        <img class="h-6 w-6" src="assets/img/editWhite.svg" alt="edit" />
      </div>
    </app-button-primary>
  </div>

  <!--overlay-->
  <div
    *ngIf="confirmService.confirmDialogOpened"
    class="absolute top-0 left-0 h-full w-full rounded-3xl bg-white/50"
    (click)="confirmService.toggleConfirmDialogOpened()"
  ></div>

  <app-confirm-dialog
    *ngIf="confirmService.confirmDialogOpened"
    class="absolute_center h-1/3 min-w-[50%]"
  ></app-confirm-dialog>
</div>
