<app-layout>
  <div
    class="container flex max-h-full w-full flex-col gap-10 overflow-y-auto px-[5%] pt-12 lg:pt-24"
  >
    <div class="flex items-start justify-between">
      <h1 class="text-4xl lg:text-6xl font-semibold text-custom-blue">Legal Notice</h1>
      <img
        [routerLink]="lastRoute"
        src="assets/img/arrow.svg"
        alt="arrow"
        class="cursor-pointer"
      />
    </div>

    <div class="impressum">
      <h1>Impressum</h1>
      <p>Angaben gemäß § 5 TMG</p>
      <p>
        Tobias Matthies <br />
        Cerro Corra<br />
        071702 <br />
      </p>
      <p>
        <strong>Vertreten durch: </strong><br />
        Tobias Matthies<br />
      </p>
      <p>
        <strong>Kontakt:</strong> <br />
        Telefon: +595 981 815629<br />
        E-Mail: <a href="mailto:tbsmatthies@gmail.com">tbsmatthies@gmail.com</a>
      </p>
      <p>
        <strong>Umsatzsteuer-ID: </strong> <br />
        Umsatzsteuer-Identifikationsnummer gemäß §27a Umsatzsteuergesetz:
        Musterustid.<br /><br />
        <strong>Wirtschafts-ID: </strong><br />
        Musterwirtschaftsid<br />
      </p>
      <p>
        <strong>Aufsichtsbehörde:</strong><br />
        Musteraufsicht Musterstadt<br />
      </p>
      <br />
      Impressum vom
      <a href="https://www.impressum-generator.de">Impressum Generator</a> der
      <a href="https://www.kanzlei-hasselbach.de/"
        >Kanzlei Hasselbach, Rechtsanwälte für Arbeitsrecht und Familienrecht</a
      >
    </div>
  </div>
</app-layout>
