<app-header
  *ngIf="windowWidthService.router.url !== '/add-task' || windowWidthService.getWindowWidth() > 1023"
  [logoutOpened]="logoutOpened"
  (logoutOpenedChanged)="setLogoutOpened($event)"
></app-header>

<app-add-task-responsive-header
  *ngIf="windowWidthService.router.url == '/add-task' && windowWidthService.getWindowWidth() < 1024"
></app-add-task-responsive-header>

<div
  class="flex flex-col-reverse lg:flex-row"
  style="height: calc(100vh - 88px)"
  (click)="closeLogoutOpened()"
>
  <app-navbar class="shadow-custom-navbar"></app-navbar>
  <main
    class="max-width max-height container box-border flex flex-1 justify-center lg:h-auto"
  >
    <ng-content></ng-content>
  </main>
</div>
