<div class="absolute top-0 right-0 flex h-full w-full">
  <div class="w-full bg-white/50" (click)="onCloseOverlay()"></div>
  <form
    class="absolute left-0 h-full w-1/3 rounded-r-3xl bg-white font-light text-white shadow-custom-card"
    (ngSubmit)="onCreateContact()"
  >
    <div
      class="relative flex h-1/3 flex-col items-center justify-center gap-5 rounded-tr-3xl bg-custom-blue"
    >
      <img
        class="absolute right-8 top-8 cursor-pointer brightness-0 invert"
        (click)="onCloseOverlay()"
        src="assets/img/cancel.svg"
        alt="close"
      />

      <img class="h-16" src="assets/img/icon_white.svg" alt="logo" />
      <h1 class="text-4xl font-semibold">Add contact</h1>
      <span class="text-2xl">Tasks are better with a team!</span>
    </div>

    <div class="flex h-2/3 flex-col items-center gap-10 p-16 pt-14">
      <div
        class="flex h-28 w-28 items-center justify-center rounded-full border-2 border-white bg-custom-placeholder-gray shadow-custom-info-fields"
      >
        <img
          class="h-14 w-14 brightness-0 invert"
          src="assets/img/Vector-4.svg"
          alt="avatar"
        />
      </div>

      <div class="flex w-full justify-between border-b py-2 px-4">
        <input
          class="placeholder:text-custom-placeholder-gray"
          type="text"
          placeholder="Name"
        />

        <img src="assets/img/Vector-4.svg" alt="name">
      </div>

      <div class="flex w-full justify-between border-b py-2 px-4">
        <input
          class="placeholder:text-custom-placeholder-gray"
          type="text"
          placeholder="Email"
        />

        <img src="assets/img/Vector-5.svg" alt="email">
      </div>

      <div class="flex w-full justify-between border-b py-2 px-4">
        <input
          class="placeholder:text-custom-placeholder-gray"
          type="text"
          placeholder="Phone"
        />

        <img src="assets/img/Vector-6.svg" alt="phone">
      </div>

      <div class="w-full flex justify-center gap-5">
        <button
        class="group box-border flex gap-4 rounded-lg py-3 px-4 text-xl outline outline-1 outline-gray-400 transition-all hover:shadow-md hover:outline-2 hover:outline-custom-blue"
        type="button"
      >
        <span class="text-gray-400 group-hover:text-custom-blue" (click)="onCloseOverlay()">Cancel</span>
        <span class="text-gray-400 group-hover:text-custom-blue">x</span>
      </button>

      <app-button-primary>
        <div class="flex gap-4 p-1 text-xl">
          <span>Create contact</span>
          <img
            class="brightness-0 invert"
            src="assets/img/Vector-3.svg"
            alt="create"
          />
        </div>
      </app-button-primary>
      </div>
    </div>
  </form>
</div>
