<div
    class="flex h-screen flex-col items-center justify-between gap-5 bg-custom-blue px-[5%] transition-all pb-8 md:gap-0 relative">
    <div
        class="w-full flex flex-col items-center justify-between max-w-[1920px] mx-auto md:flex-row md:items-start p-10">
        <img class="self-start md:self-auto h-16 w-16 sm:h-20 sm:w-20 lg:h-24 lg:w-24" src="assets/img/icon_white.svg"
            alt="join logo" />

        <div class="flex items-center gap-5 text-lg lg:font-light text-white">
            <span>Not a Join user?</span>
            <app-button-primary (click)="router.navigate(['/signup'])">Sign up</app-button-primary>
        </div>
    </div>

    <!--Card-->
    <div
        class="container relative flex w-full max-w-lg flex-col items-center justify-between rounded-3xl bg-white py-8  px-6 md:py-14 md:px-16 md:w-2/5 md:min-w-xl md:max-w-none">

        <div class="mb-5 flex flex-col items-center gap-4 self-start">
            <h1 class="text-center text-4xl font-semibold">Welcome</h1>
            <img src="assets/img/Vector 5.svg" alt="border" class="h-1 w-20 object-cover md:w-auto" />
        </div>

        <p class="mt-6">Pick the option that suits your role: create a request as a stakeholder or log in if you’re part
            of the team.
        </p>

        <div class="flex flex-col mt-8 md:mt-14 gap-8 md:gap-16 md:flex-row">
            <div class="flex flex-col items-center md:items-start">
                <h3 class="mb-6 flex gap-2 text-custom-blue">
                    <img src="assets/img/work.svg" alt="work">
                    Are you a stakeholder?
                </h3>
                <a routerLink="/create-request" class="py-2.5 px-5 rounded-lg text-white bg-custom-blue">Create
                    request</a>
            </div>

            <div class="flex flex-col items-center md:items-start">
                <h3 class="mb-6 flex gap-2 text-custom-blue">
                    <img src="assets/img/Frame 245.svg" alt="work">
                    Are you a team member?
                </h3>
                <a class=" py-2.5 px-5 rounded-lg text-custom-title-gray border-custom-title-gray border-2"
                    routerLink="/login">Member log in</a>
            </div>
        </div>
    </div>

    <div class="flex gap-2 text-white">
        <a routerLink="/legal-notice">Privacy Policy</a>
        <a routerLink="/legal-notice">Legal Notice</a>
    </div>
</div>
