<app-layout>
  <div class="flex h-full w-full flex-col items-center px-[5%]">
    <div class="flex w-full gap-5 py-12">
      <div
        class="flex w-1/5 min-w-fit justify-between rounded-lg border border-gray-400 p-2"
      >
        <input
          class="custom-placeholder-custom-gray text-sm font-light"
          placeholder="Find Task"
          type="text"
          id="filter"
          (keyup)="searchTasks()"
        />
        <img src="assets/img/search.svg" alt="search" />
      </div>

      <app-button-primary (click)="addTaskService.toggleAddTaskOverlay()">
        <div class="flex h-[33px] items-center gap-2">
          <span class="text-xl font-light">Add Task</span>
          <img src="assets/img/addWhite.svg" alt="add task" />
        </div>
      </app-button-primary>
    </div>

    <div class="flex h-full w-full justify-between font-light">
      <div
        class="flex w-1/5 flex-col gap-5"
        cdkDropList
        #todoList="cdkDropList"
        [cdkDropListData]="appStateService.tasks"
        [cdkDropListConnectedTo]="[
          inProgressList,
          awaitingFeedbackList,
          doneList
        ]"
        (cdkDropListDropped)="onDrop($event, 'toDo')"
      >
        <h2 class="flex justify-between text-xl">
          <b class="text-custom-title-gray">To do</b>
          <img
            class="cursor-pointer"
            src="assets/img/addTaskBoard.svg"
            alt="add Task"
            (click)="addTaskService.toggleAddTaskOverlay()"
          />
        </h2>

        <div
          *ngFor="let task of filteredTasks | filterTasks: 'toDo'"
          class="flex cursor-pointer flex-col gap-5 rounded-3xl p-4 shadow-custom-card"
          [id]="task.id"
          cdkDrag
          [cdkDragData]="task.id"
          (click)="taskDetailService.openTaskDetailView(task)"
        >
          <span
            [ngStyle]="{ 'background-color': task.category.color }"
            class="w-fit rounded-lg py-1 px-6 text-sm text-white"
          >
            {{ task.category.name }}
          </span>

          <section class="flex flex-col gap-1">
            <h3 class="font-semibold text-custom-blue">{{ task.title }}</h3>
            <span class="text-gray-400">{{ task.description }}</span>
          </section>

          <div
            *ngIf="task.subtasks.length > 0"
            class="flex w-full items-center gap-5"
          >
            <div class="h-1/2 flex-1 rounded-sm bg-gray-100"></div>
            <span class="text-xs"> 0/{{ task.subtasks.length }} done </span>
          </div>

          <div class="flex w-full justify-between">
            <div class="flex">
              <ng-container *ngFor="let contact of task.assignedTo; index as i">
                <span
                  *ngIf="i < 2"
                  class="-mr-1 box-border flex h-8 min-w-[32px] items-center justify-center rounded-full border border-white text-xs text-white"
                  [ngStyle]="{ backgroundColor: contact.backgroundColor }"
                >
                  {{ contact.abbrevation }}
                </span>

                <span
                  *ngIf="i == 2"
                  class="-mr-1 box-border flex h-8 min-w-[32px] items-center justify-center rounded-full border border-white text-xs text-white"
                  [ngStyle]="{ backgroundColor: contact.backgroundColor }"
                >
                  +{{ task.assignedTo.length - 2 }}
                </span>
              </ng-container>
            </div>

            <img
              [src]="task.urgency.image"
              [alt]="task.urgency.name"
              class="mr-2"
            />
          </div>
        </div>
      </div>

      <div
        class="flex w-1/5 flex-col gap-5"
        cdkDropList
        #inProgressList="cdkDropList"
        [cdkDropListData]="appStateService.tasks"
        [cdkDropListConnectedTo]="[todoList, awaitingFeedbackList, doneList]"
        (cdkDropListDropped)="onDrop($event, 'inProgress')"
      >
        <h2 class="flex justify-between text-xl">
          <b class="text-custom-title-gray">In progress</b>
          <img
            class="cursor-pointer"
            src="assets/img/addTaskBoard.svg"
            alt="add Task"
            (click)="addTaskService.toggleAddTaskOverlay('inProgress')"
          />
        </h2>

        <div
          *ngFor="let task of filteredTasks | filterTasks: 'inProgress'"
          class="flex cursor-pointer flex-col gap-5 rounded-3xl p-4 shadow-custom-card"
          [id]="task.id"
          cdkDrag
          [cdkDragData]="task.id"
          (click)="taskDetailService.openTaskDetailView(task)"
        >
          <span
            [ngStyle]="{ 'background-color': task.category.color }"
            class="w-fit rounded-lg py-1 px-6 text-sm text-white"
          >
            {{ task.category.name }}
          </span>

          <section class="flex flex-col gap-1">
            <h3 class="font-semibold text-custom-blue">{{ task.title }}</h3>
            <span class="text-gray-400">{{ task.description }}</span>
          </section>

          <div
            *ngIf="task.subtasks.length > 0"
            class="flex w-full items-center gap-5"
          >
            <div class="h-1/2 flex-1 rounded-sm bg-gray-100"></div>
            <span class="text-xs"> 0/{{ task.subtasks.length }} done </span>
          </div>

          <div class="flex w-full justify-between">
            <div class="flex">
              <ng-container *ngFor="let contact of task.assignedTo; index as i">
                <span
                  *ngIf="i < 2"
                  class="-mr-1 box-border flex h-8 min-w-[32px] items-center justify-center rounded-full border border-white text-xs text-white"
                  [ngStyle]="{ backgroundColor: contact.backgroundColor }"
                >
                  {{ contact.abbrevation }}
                </span>

                <span
                  *ngIf="i == 2"
                  class="-mr-1 box-border flex h-8 min-w-[32px] items-center justify-center rounded-full border border-white text-xs text-white"
                  [ngStyle]="{ backgroundColor: contact.backgroundColor }"
                >
                  +{{ task.assignedTo.length - 2 }}
                </span>
              </ng-container>
            </div>

            <img
              [src]="task.urgency.image"
              [alt]="task.urgency.name"
              class="mr-2"
            />
          </div>
        </div>
      </div>

      <div
        class="flex w-1/5 flex-col gap-5"
        cdkDropList
        #awaitingFeedbackList="cdkDropList"
        [cdkDropListData]="appStateService.tasks"
        [cdkDropListConnectedTo]="[todoList, inProgressList, doneList]"
        (cdkDropListDropped)="onDrop($event, 'awaitingFeedback')"
      >
        <h2 class="flex justify-between text-xl">
          <b class="text-custom-title-gray">Awaiting feedback</b>
          <img
            class="cursor-pointer"
            src="assets/img/addTaskBoard.svg"
            alt="add Task"
            (click)="addTaskService.toggleAddTaskOverlay('awaitingFeedback')"
          />
        </h2>

        <div
          *ngFor="let task of filteredTasks | filterTasks: 'awaitingFeedback'"
          class="flex cursor-pointer flex-col gap-5 rounded-3xl p-4 shadow-custom-card"
          [id]="task.id"
          cdkDrag
          [cdkDragData]="task.id"
          (click)="taskDetailService.openTaskDetailView(task)"
        >
          <span
            [ngStyle]="{ 'background-color': task.category.color }"
            class="w-fit rounded-lg py-1 px-6 text-sm text-white"
          >
            {{ task.category.name }}
          </span>

          <section class="flex flex-col gap-1">
            <h3 class="font-semibold text-custom-blue">{{ task.title }}</h3>
            <span class="text-gray-400">{{ task.description }}</span>
          </section>

          <div
            *ngIf="task.subtasks.length > 0"
            class="flex w-full items-center gap-5"
          >
            <div class="h-1/2 flex-1 rounded-sm bg-gray-100"></div>
            <span class="text-xs"> 0/{{ task.subtasks.length }} done </span>
          </div>

          <div class="flex w-full justify-between">
            <div class="flex">
              <ng-container *ngFor="let contact of task.assignedTo; index as i">
                <span
                  *ngIf="i < 2"
                  class="-mr-1 box-border flex h-8 min-w-[32px] items-center justify-center rounded-full border border-white text-xs text-white"
                  [ngStyle]="{ backgroundColor: contact.backgroundColor }"
                >
                  {{ contact.abbrevation }}
                </span>

                <span
                  *ngIf="i == 2"
                  class="-mr-1 box-border flex h-8 min-w-[32px] items-center justify-center rounded-full border border-white text-xs text-white"
                  [ngStyle]="{ backgroundColor: contact.backgroundColor }"
                >
                  +{{ task.assignedTo.length - 2 }}
                </span>
              </ng-container>
            </div>

            <img
              [src]="task.urgency.image"
              [alt]="task.urgency.name"
              class="mr-2"
            />
          </div>
        </div>
      </div>

      <div
        class="flex w-1/5 flex-col gap-5"
        cdkDropList
        #doneList="cdkDropList"
        [cdkDropListData]="appStateService.tasks"
        [cdkDropListConnectedTo]="[
          todoList,
          inProgressList,
          awaitingFeedbackList
        ]"
        (cdkDropListDropped)="onDrop($event, 'done')"
      >
        <h2 class="flex justify-between text-xl">
          <b class="text-custom-title-gray">Done</b>
          <img
            class="cursor-pointer"
            src="assets/img/addTaskBoard.svg"
            alt="add Task"
            (click)="addTaskService.toggleAddTaskOverlay('done')"
          />
        </h2>

        <div
          *ngFor="let task of filteredTasks | filterTasks: 'done'"
          class="flex cursor-pointer flex-col gap-5 rounded-3xl p-4 shadow-custom-card"
          [id]="task.id"
          cdkDrag
          [cdkDragData]="task.id"
          (click)="taskDetailService.openTaskDetailView(task)"
        >
          <span
            [ngStyle]="{ 'background-color': task.category.color }"
            class="w-fit rounded-lg py-1 px-6 text-sm text-white"
          >
            {{ task.category.name }}
          </span>

          <section class="flex flex-col gap-1">
            <h3 class="font-semibold text-custom-blue">{{ task.title }}</h3>
            <span class="text-gray-400">{{ task.description }}</span>
          </section>

          <div
            *ngIf="task.subtasks.length > 0"
            class="flex w-full items-center gap-5"
          >
            <div class="h-1/2 flex-1 rounded-sm bg-gray-100"></div>
            <span class="text-xs"> 0/{{ task.subtasks.length }} done </span>
          </div>

          <div class="flex w-full justify-between">
            <div class="flex">
              <ng-container *ngFor="let contact of task.assignedTo; index as i">
                <span
                  *ngIf="i < 2"
                  class="-mr-1 box-border flex h-8 min-w-[32px] items-center justify-center rounded-full border border-white text-xs text-white"
                  [ngStyle]="{ backgroundColor: contact.backgroundColor }"
                >
                  {{ contact.abbrevation }}
                </span>

                <span
                  *ngIf="i == 2"
                  class="-mr-1 box-border flex h-8 min-w-[32px] items-center justify-center rounded-full border border-white text-xs text-white"
                  [ngStyle]="{ backgroundColor: contact.backgroundColor }"
                >
                  +{{ task.assignedTo.length - 2 }}
                </span>
              </ng-container>
            </div>

            <img
              [src]="task.urgency.image"
              [alt]="task.urgency.name"
              class="mr-2"
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-add-task-overlay
    *ngIf="addTaskService.addTaskOverlayOpened"
  ></app-add-task-overlay>
</app-layout>

<!--overlay-->
<div
  *ngIf="taskDetailService.openedTaskDetailView"
  class="absolute top-0 h-full w-full bg-white/50"
  (click)="taskDetailService.closeTaskDetailView()"
></div>

<app-task-detail-info
  *ngIf="taskDetailService.openedTaskDetailView && !taskDetailService.editMode"
  class="absolute_center w-2/5"
></app-task-detail-info>

<app-task-detail-edit
  *ngIf="taskDetailService.openedTaskDetailView && taskDetailService.editMode"
  class="absolute_center w-2/5"
></app-task-detail-edit>
