<app-layout>
  <form
    class="flex h-fit max-h-[80vh] w-full font-light"
    (ngSubmit)="createTask()"
    #form="ngForm"
  >
    <div
      class="flex w-1/2 items-center justify-center overflow-y-scroll"
      id="input_section"
    >
      <div class="flex h-full flex-col gap-5">
        <div class="flex justify-between border-b py-2 px-4">
          <input
            class="text-4xl placeholder-custom-placeholder-gray placeholder:font-light"
            id="title"
            type="text"
            name="title"
            placeholder="Enter a title"
            required
            ngModel
          />
        </div>

        <div>
          <div class="flex cursor-pointer justify-between border-b py-2 px-4">
            <span>Select contacts to assign</span>
            <img
              src="assets/img/Vector 2.svg"
              alt="select"
              (click)="toggleContacts()"
            />
          </div>

          <ul class="py-2 px-4">
            <li
              *ngFor="let contact of demoContacts"
              class="flex justify-between"
            >
              <span>{{ contact }}</span>
              <input
                class="cursor-pointer accent-custom-blue"
                type="checkbox"
              />
            </li>
          </ul>
        </div>

        <div class="mb-4 flex flex-col gap-2">
          <label class="font-bold text-custom-title-gray" for="date"
            >Due date</label
          >
          <input
            class="flex justify-between border-b py-2 px-4 invalid:text-custom-placeholder-gray"
            [ngModel]="date"
            id="date"
            name="date"
            type="date"
            pattern="\d{1,2}/\d{1,2}/\d{4}"
            required
            ngModel
          />
        </div>

        <div class="mb-4 flex flex-col gap-2">
          <label class="font-bold text-custom-title-gray" for="category"
            >Category</label
          >
          <div class="flex justify-between border-b py-2 px-4">
            <span>Select task category</span>
            <img src="assets/img/Vector 2.svg" alt="select" />
          </div>
        </div>

        <!--radio buttons-->
        <div class="flex gap-2">
          <label class="w-1/3" for="urgent">
            <input
              class="hidden"
              name="urgency"
              id="urgent"
              type="radio"
              value="urgent"
              ngModel
              required
            />
            <div
              [ngClass]="
                urgency == 'urgent' ? ['bg-custom-red-urgent text-white'] : ''
              "
              (click)="chooseUrgency('urgent')"
              class="flex cursor-pointer justify-center gap-2 rounded-lg border-b-2 border-transparent p-2 shadow-custom-info-fields hover:border-b-2 hover:border-custom-red-urgent"
            >
              Urgent
              <img
                [ngClass]="urgency == 'urgent' ? ['brightness-0 invert'] : ''"
                class="h-6 w-5"
                src="assets/img/urgent1.svg"
                alt="urgent"
              />
            </div>
          </label>
          <label class="w-1/3" for="medium">
            <input
              class="hidden"
              name="urgency"
              id="medium"
              type="radio"
              value="medium"
              ngModel
              required
            />
            <div
              [ngClass]="
                urgency == 'medium'
                  ? ['bg-custom-orange-medium text-white']
                  : ''
              "
              (click)="chooseUrgency('medium')"
              class="flex cursor-pointer justify-center gap-2 rounded-lg border-b-2 border-transparent p-2 shadow-custom-info-fields hover:border-b-2 hover:border-custom-orange-medium"
            >
              Medium
              <img
                [ngClass]="urgency == 'medium' ? ['brightness-0 invert'] : ''"
                class="h-6 w-5"
                src="assets/img/medium.svg"
                alt="medium"
              />
            </div>
          </label>
          <label class="w-1/3" for="low">
            <input
              class="hidden"
              name="urgency"
              id="low"
              type="radio"
              value="low"
              ngModel
              required
            />
            <div
              [ngClass]="
                urgency == 'low' ? ['bg-custom-green-low text-white'] : ''
              "
              (click)="chooseUrgency('low')"
              class="flex cursor-pointer justify-center gap-2 rounded-lg border-b-2 border-transparent p-2 shadow-custom-info-fields hover:border-b-2 hover:border-custom-green-low"
            >
              Low
              <img
                [ngClass]="urgency == 'low' ? ['brightness-0 invert'] : ''"
                class="h-6 w-5"
                src="assets/img/low.svg"
                alt="low"
              />
            </div>
          </label>
        </div>
        <!--radio buttons end-->

        <div class="mb-4 flex flex-col gap-2">
          <label class="font-bold text-custom-title-gray" for="description"
            >Description</label
          >

          <textarea
            class="rounded-r-lg rounded-bl-lg border p-4 placeholder-custom-placeholder-gray"
            name="description"
            id="description"
            placeholder="Enter a description"
            ngModel
          ></textarea>
        </div>

        <div class="flex flex-col gap-2">
          <label class="font-bold text-custom-title-gray" for="subtask"
            >Subtasks</label
          >

          <div class="flex cursor-pointer justify-between border-b py-2 px-4">
            <input
              class="placeholder-custom-placeholder-gray"
              id="subtask"
              placeholder="Add new subtask"
              type="text"
            />
            <img src="assets/img/Vector-2.svg" alt="add subtask" />
          </div>

          <div *ngFor="let subtask of demoSubtasks" class="flex gap-4">
            <input class="accent-custom-blue" type="checkbox" />
            <span>{{ subtask }}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="flex w-1/2 items-end justify-center gap-4">
      <button
        class="group box-border flex gap-4 rounded-lg py-3 px-4 text-xl outline outline-1 outline-gray-500 transition-all hover:shadow-md hover:outline-2 hover:outline-custom-blue"
        type="button"
        (click)="resetForm()"
      >
        <span class="text-gray-500 group-hover:text-custom-blue">Clear</span>
        <span class="text-gray-500 group-hover:text-custom-blue">x</span>
      </button>
      <app-button-primary>
        <div class="flex gap-4 p-1 text-xl">
          <span>Create Task</span>
          <img
            class="brightness-0 invert"
            src="assets/img/Vector-3.svg"
            alt="create"
          />
        </div>
      </app-button-primary>
    </div>
  </form>
</app-layout>
