<div class="absolute top-0 right-0 flex h-full w-full">
  <div
    class="show-background-animation w-full bg-white/50"
    [ngClass]="contactOverlayCloseAnimation ? 'hide-background-animation' : ''"
    (click)="onCloseOverlay()"
  ></div>
  <div
    class="slide-in absolute left-0 h-full w-full rounded-r-3xl bg-white text-white shadow-custom-card md:w-2/3 lg:font-light xl:w-1/3"
    [ngClass]="contactOverlayCloseAnimation ? 'slide-out' : ''"
  >
    <div
      class="relative flex h-1/3 flex-col items-center justify-center gap-5 md:rounded-tr-3xl"
      [ngClass]="editMode ? 'bg-custom-blue-dark' : 'bg-custom-blue'"
    >
      <img
        class="absolute right-8 top-8 cursor-pointer brightness-0 invert"
        (click)="onCloseOverlay()"
        src="assets/img/cancel.svg"
        alt="close"
      />

      <img class="h-16" src="assets/img/icon_white.svg" alt="logo" />

      <ng-container *ngIf="!editMode; else editContainer">
        <h1 class="text-2xl font-semibold md:text-4xl">Add contact</h1>
        <span class="text-sm md:text-2xl">Tasks are better with a team!</span>
      </ng-container>

      <ng-template #editContainer>
        <h1 class="text-2xl font-semibold md:text-4xl">Edit contact</h1>
      </ng-template>
    </div>

    <form
      class="mx-auto flex h-2/3 min-w-[230px] max-w-[550px] flex-col items-center justify-center gap-10 px-16 text-black md:mx-0 md:max-w-none"
      (ngSubmit)="onSubmit()"
      #contactForm="ngForm"
    >
      <div
        class="relative flex h-20 w-20 items-center justify-center rounded-full border-2 border-white bg-custom-placeholder-gray shadow-custom-info-fields sm:h-28 sm:w-28"
        [ngStyle]="{
          'background-color': editMode ? selectedBackgroundColor : ''
        }"
      >
        <img
          *ngIf="!editMode; else contactAbbrevation"
          class="h-10 w-10 brightness-0 invert sm:h-14 sm:w-14"
          src="assets/img/Vector-4.svg"
          alt="avatar"
        />

        <ng-template #contactAbbrevation>
          <span class="text-3xl text-white md:text-5xl">{{
            selectedContact.abbrevation
          }}</span>
        </ng-template>

        <label
          class="colorpicker absolute right-0 bottom-0 h-6 w-6 rounded-full border bg-white"
        >
          <input
            class="h-6 w-6 cursor-pointer opacity-0"
            id="color"
            name="color"
            type="color"
            (blur)="onSelectBackgroundColor(colorpicker.value)"
            #colorpicker
          />
        </label>
      </div>

      <div class="flex w-full justify-between border-b py-2 px-4">
        <input
          class="placeholder:text-custom-placeholder-gray"
          type="text"
          placeholder="Name"
          name="name"
          required
          [ngModel]="editMode ? selectedContact.name : ''"
        />

        <img src="assets/img/Vector-4.svg" alt="name" />
      </div>

      <div class="flex w-full justify-between border-b py-2 px-4">
        <input
          class="placeholder:text-custom-placeholder-gray"
          type="text"
          placeholder="Email"
          name="email"
          required
          email
          [ngModel]="editMode ? selectedContact.email : ''"
        />

        <img src="assets/img/Vector-5.svg" alt="email" />
      </div>

      <div class="flex w-full justify-between border-b py-2 px-4">
        <input
          class="placeholder:text-custom-placeholder-gray"
          type="text"
          placeholder="Phone"
          name="phoneNumber"
          required
          [ngModel]="editMode ? selectedContact.phoneNumber : ''"
        />

        <img src="assets/img/Vector-6.svg" alt="phone" />
      </div>

      <div class="flex w-full justify-center gap-5">
        <button
          class="group box-border hidden gap-4 rounded-lg py-3 px-4 outline outline-1 outline-gray-400 transition-all hover:shadow-md hover:outline-2 hover:outline-custom-blue md:flex md:text-xl"
          type="button"
        >
          <span
            class="text-gray-400 group-hover:text-custom-blue"
            (click)="onCloseOverlay()"
            >Cancel</span
          >
          <span class="text-gray-400 group-hover:text-custom-blue">x</span>
        </button>

        <app-button-primary>
          <div class="flex gap-4 p-1 md:text-xl">
            <span *ngIf="!editMode">Create contact</span>
            <span *ngIf="editMode">Edit Contact</span>
            <img
              class="brightness-0 invert"
              src="assets/img/Vector-3.svg"
              alt="create"
            />
          </div>
        </app-button-primary>
      </div>
    </form>
  </div>
</div>
