@tailwind base;
@tailwind components;
@tailwind utilities;

input:focus,
textarea:focus {
    outline: none;
}

body {
    height: 100vh;
}

.blue-filter {
  filter: invert(56%) sepia(27%) saturate(7460%) hue-rotate(201deg)
    brightness(98%) contrast(106%);
}