<div
  class="absolute top-0 right-0 flex h-full w-full flex-col overflow-hidden"
  (window:resize)="windowWidthService.getWindowWidth()"
  >
  @if (windowWidthService.getWindowWidth() < 768) {
    <app-add-task-responsive-header
      >
    </app-add-task-responsive-header>
  }

  <div
    class="h-full w-full show-background-animation"
    [ngClass]="addTaskService.addTaskOverlayCloseAnimation ? 'hide-background-animation' : ''"
    (click)="addTaskService.toggleAddTaskOverlay()"
  ></div>
  <form
    class="flex h-full w-full flex-col gap-5 bg-white p-8 pt-12 shadow-custom-card md:absolute md:right-0 md:w-2/3 md:max-w-[550px] md:rounded-l-3xl lg:font-light xl:w-1/3 slide-in"
    [ngClass]="addTaskService.addTaskOverlayCloseAnimation ? 'slide-out' : ''"
    id="form"
    [formGroup]="addTaskService.form"
    (ngSubmit)="addTaskService.onCreateTask()"
    >
    <div class="flex w-full justify-between md:justify-end">
      <h1 class="text-3xl font-semibold md:hidden md:text-5xl">Add Task</h1>

      <img
        class="cursor-pointer"
        src="assets/img/cancel.svg"
        alt="close"
        (click)="addTaskService.toggleAddTaskOverlay()"
        />
    </div>

    <div
      class="mx-auto hidden w-full max-w-[550px] items-center justify-between md:mx-0 md:max-w-none lg:flex"
      >
      <h1 class="text-3xl font-semibold md:text-5xl">Add Task</h1>

      <app-button-primary>
        <div class="flex gap-2 py-1">
          <span class="text-base md:text-xl">Create Task</span>
          <img
            class="brightness-0 invert"
            src="assets/img/Vector-3.svg"
            alt="create task"
            />
        </div>
      </app-button-primary>
    </div>

    <div
      class="mx-auto flex w-full max-w-[550px] items-center overflow-y-auto px-1 md:mx-0 md:max-w-none"
      id="input_section"
      >
      <div class="flex max-h-full w-full flex-col gap-5">
        <input
          class="border-b py-2 px-4 text-2xl placeholder-custom-placeholder-gray md:text-4xl lg:placeholder:font-light"
          id="title"
          type="text"
          name="title"
          placeholder="Enter a title"
          formControlName="title"
          />

        @if (
          addTaskService.form.get('title').invalid && addTaskService.submitted
          ) {
          <span
            class="text-xs text-custom-red-urgent"
            >This field is required</span
            >
          }

          <div>
            <div class="flex items-center justify-between border-b py-2 px-4">
              @if (
                !addTaskService.showInviteNewContact) {
                <div
                  class="flex w-full justify-between"
                  (click)="addTaskService.toggleContacts()"
                  >
                  <span>Select contacts to assign</span>
                  <img
                    class="cursor-pointer"
                    src="assets/img/Vector 2.svg"
                    alt="select"
                    />
                </div>
              } @else {
                <input
                  class="placeholder-custom-placeholder-gray"
                  type="email"
                  placeholder="Contact Email"
                  />
                <div class="flex gap-2">
                  <img
                    class="blue-filter w-5 cursor-pointer"
                    src="assets/img/cancel.svg"
                    alt="cancel"
                  (click)="
                    addTaskService.toggleInviteNewContact();
                    addTaskService.toggleContacts()
                  "
                    />
                  <div class="w-px bg-custom-placeholder-gray"></div>
                  <img
                    class="w-5 cursor-pointer"
                    src="assets/img/Vector-3.svg"
                    alt="invite"
                    />
                </div>
              }
            </div>

            <div
            [ngClass]="
              addTaskService.showContacts &&
              !addTaskService.showInviteNewContact
                ? ''
                : 'hidden'
            "
              formGroupName="contacts"
              >
              @if (appStateService.contacts.length > 0) {
                <ul
                  class="drop-down-animation flex max-h-40 flex-col overflow-y-auto"
              [ngClass]="
                addTaskService.closeContactsAnimation
                  ? 'pull-up-animation'
                  : ''
              "
                  >
                  @for (contact of appStateService.contacts; track contact; let i = $index) {
                    <li
                      class="flex cursor-pointer justify-between px-4 py-3 last:rounded-b-lg hover:bg-custom-blue-active"
                      >
                      <span>{{ contact.name }}</span>
                      <input
                        class="cursor-pointer accent-custom-blue"
                        type="checkbox"
                        name="contacts"
                        [formControlName]="i"
                        />
                    </li>
                  }
                  <li
                    class="flex cursor-pointer justify-between rounded-b-lg py-3 px-4 hover:bg-custom-blue-active"
                    (click)="addTaskService.toggleInviteNewContact()"
                    >
                    <span>Invite new contact</span>
                    <img src="assets/img/Vector.svg" alt="invite contact" />
                  </li>
                </ul>
              }
            </div>
            @if (
              addTaskService.form.get('contacts').invalid &&
              addTaskService.submitted
              ) {
              <span
                class="text-xs text-custom-red-urgent"
                >This field is required</span
                >
              }
              @if (!addTaskService.showContacts) {
                <div
                  class="flex max-w-[150px] gap-2 overflow-x-auto"
                  >
                  @for (contact of addTaskService.selectedContacts; track contact) {
                    <span
                      class="box-border flex h-10 min-w-[40px] items-center justify-center rounded-full text-base text-white md:text-lg"
                      [ngStyle]="{ backgroundColor: contact.backgroundColor }"
                      >
                      {{ contact.abbrevation }}
                    </span>
                  }
                </div>
              }
            </div>

            <div class="mb-4 flex flex-col gap-2">
              <label class="font-bold text-custom-title-gray" for="date"
                >Due date</label
                >
                <input
                  class="flex justify-between border-b py-2 px-4 invalid:text-custom-placeholder-gray"
                  id="date"
                  name="date"
                  type="date"
                  formControlName="dueDate"
                  />
                @if (
                  addTaskService.form.get('dueDate').invalid &&
                  addTaskService.submitted
                  ) {
                  <span
                    class="text-xs text-custom-red-urgent"
                    >This field is required</span
                    >
                  }
                </div>

                <div class="mb-4 flex flex-col">
                  <div class="flex flex-col gap-2">
                    <label class="font-bold text-custom-title-gray" for="category"
                      >Category</label
                      >
                      <div class="flex justify-between border-b py-2 px-4">
                        @if (
                          !addTaskService.showCreateNewCategory) {
                          <div
                            class="flex w-full justify-between"
                            (click)="addTaskService.toggleCategories()"
                            >
                            @if (!addTaskService.form.controls['category'].value) {
                              <span
                                >Select task category</span
                                >
                              }
                              @if (addTaskService.form.controls['category'].value) {
                                <div
                                  class="flex items-center gap-5"
                                  >
                                  <span>{{
                                    addTaskService.form.controls["category"].value.name
                                  }}</span>
                                  <div
                      [ngStyle]="{
                        'background-color':
                          addTaskService.form.controls['category'].value.color
                      }"
                                    class="h-4 w-4 rounded-full"
                                  ></div>
                                </div>
                              }
                              <img
                                class="cursor-pointer"
                                src="assets/img/Vector 2.svg"
                                alt="select"
                                />
                            </div>
                          } @else {
                            <input
                              class="placeholder-custom-placeholder-gray"
                              type="text"
                              placeholder="New Category Name"
                              id="categoryName"
                              />
                            <div class="flex gap-2">
                              <img
                                class="blue-filter w-5 cursor-pointer"
                                src="assets/img/cancel.svg"
                                alt="cancel"
                    (click)="
                      addTaskService.toggleNewCategory();
                      addTaskService.toggleCategories()
                    "
                                />
                              <div class="w-px bg-custom-placeholder-gray"></div>
                              <img
                                class="w-5 cursor-pointer"
                                src="assets/img/Vector-3.svg"
                                alt="invite"
                                (click)="addTaskService.onCreateNewTaskCategory()"
                                />
                            </div>
                          }
                        </div>
                        @if (
                          addTaskService.form.get('category').invalid &&
                          addTaskService.submitted
                          ) {
                          <span
                            class="text-xs text-custom-red-urgent"
                            >This Field is required</span
                            >
                          }
                        </div>

                        @if (
                          addTaskService.showCategories &&
                          !addTaskService.showCreateNewCategory) {
                          <ul
                            class="drop-down-animation flex flex-col overflow-y-auto"
              [ngClass]="
                addTaskService.closeCategoriesAnimation
                  ? 'pull-up-animation'
                  : ''
              "
                            >
                            <li
                              class="cursor-pointer px-4 py-3 hover:bg-custom-blue-active"
                              (click)="addTaskService.toggleNewCategory()"
                              >
                              New Category
                            </li>
                            @for (category of appStateService.categories; track category) {
                              <li
                                class="cursor-pointer px-4 last:rounded-b-lg hover:bg-custom-blue-active"
                                >
                                <label
                                  class="flex w-full items-center gap-5 py-3"
                                  [htmlFor]="category.name"
                                  >
                                  <span>{{ category.name }}</span>
                                  <div
                                    [ngStyle]="{ 'background-color': category.color }"
                                    class="h-4 w-4 rounded-full"
                                  ></div>
                                  <input
                                    [id]="category.name"
                                    type="radio"
                                    [value]="category"
                                    formControlName="category"
                                    class="hidden"
                                    />
                                </label>
                              </li>
                            }
                          </ul>
                        } @else {
                          @if (addTaskService.showCreateNewCategory) {
                            <div class="mt-5 flex gap-5 px-4">
                              @for (color of addTaskService.categoryColors; track color) {
                                <div
                  [ngClass]="
                    addTaskService.selectedColor == color
                      ? 'shadow-custom-category-color'
                      : ''
                  "
                                  [ngStyle]="{ 'background-color': color }"
                                  class="h-4 w-4 cursor-pointer rounded-full border-2 border-white"
                                  (click)="addTaskService.selectColor(color)"
                                ></div>
                              }
                              <label class="colorpicker h-6 w-6">
                                <input
                                  class="h-6 w-6 cursor-pointer opacity-0"
                                  id="color"
                                  name="color"
                                  type="color"
                                  (blur)="addTaskService.selectColor(colorpicker.value)"
                                  #colorpicker
                                  />
                              </label>
                            </div>
                          }
                        }

                      </div>

                      <app-choose-urgency></app-choose-urgency>

                      <div class="mb-4 flex flex-col gap-2">
                        <label class="font-bold text-custom-title-gray" for="description"
                          >Description</label
                          >

                          <textarea
                            class="rounded-r-lg rounded-bl-lg border p-4 placeholder-custom-placeholder-gray"
                            name="description"
                            id="description"
                            placeholder="Enter a description"
                            formControlName="description"
                          ></textarea>

                          @if (
                            addTaskService.form.get('description').invalid &&
                            addTaskService.submitted
                            ) {
                            <span
                              class="text-xs text-custom-red-urgent"
                              >This field is required</span
                              >
                            }
                          </div>

                          <div class="flex flex-col gap-2" formGroupName="subtasks">
                            <label class="font-bold text-custom-title-gray" for="subtask"
                              >Subtasks</label
                              >

                              <div class="flex justify-between border-b py-2 px-4">
                                <input
                                  class="placeholder-custom-placeholder-gray"
                                  id="subtask"
                                  placeholder="Add new subtask"
                                  type="text"
                                  />
                                <img
                                  class="cursor-pointer"
                                  src="assets/img/Vector-2.svg"
                                  alt="add subtask"
                                  (click)="addTaskService.onCreateNewSubtask()"
                                  />
                              </div>

                              @for (subtask of addTaskService.subtasks; track subtask; let i = $index) {
                                <div
                                  class="flex gap-4"
                                  >
                                  <input
                                    class="cursor-pointer"
                                    type="checkbox"
                                    [formControlName]="i"
                                    />
                                  <span>{{ subtask.name }}</span>
                                </div>
                              }
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
