<div class="absolute top-0 right-0 flex h-full w-full">
  <div
    class="w-full bg-white/50"
    (click)="addTaskService.toggleAddTaskOverlay()"
  ></div>
  <form
    class="absolute right-0 flex h-full w-1/3 flex-col gap-5 rounded-l-3xl bg-white p-8 shadow-custom-card font-light pt-12"
     id="form"
    [formGroup]="addTaskService.form"
    (ngSubmit)="addTaskService.onCreateTask()"
  >
    <div class="flex w-full justify-end">
      <img
        class="cursor-pointer"
        src="assets/img/cancel.svg"
        alt="close"
        (click)="addTaskService.toggleAddTaskOverlay()"
      />
    </div>

    <div class="flex justify-between items-center">
      <h1 class="text-5xl font-semibold">Add Task</h1>

      <app-button-primary>
        <div class="flex gap-2 py-1">
        <span class="text-xl">Create Task</span>
        <img class="brightness-0 invert" src="assets/img/Vector-3.svg" alt="create task">
        </div>
      </app-button-primary>
    </div>

    <div
      class="flex w-full items-center overflow-y-scroll"
      id="input_section"
    >
      <div class="flex w-full flex-col gap-5 max-h-full">
          <input
            class="text-4xl placeholder-custom-placeholder-gray placeholder:font-light border-b py-2 px-4"
            id="title"
            type="text"
            name="title"
            placeholder="Enter a title"
            formControlName="title"
          />

        <span
          *ngIf="addTaskService.form.get('title').invalid && addTaskService.submitted"
          class="text-xs text-custom-red-urgent"
          >This field is required</span
        >

        <div>
          <div class="flex items-center justify-between border-b py-2 px-4">
            <ng-container *ngIf="!addTaskService.showInviteNewContact; else inviteNewContact">
              <span>Select contacts to assign</span>
              <img
                class="cursor-pointer"
                src="assets/img/Vector 2.svg"
                alt="select"
                (click)="addTaskService.toggleContacts()"
              />
            </ng-container>
            <ng-template #inviteNewContact>
              <input
                class="placeholder-custom-placeholder-gray"
                type="email"
                placeholder="Contact Email"
              />
              <div class="flex gap-2">
                <img
                  class="w-5 cursor-pointer"
                  src="assets/img/cancel.svg"
                  alt="cancel"
                  (click)="addTaskService.toggleInviteNewContact(); addTaskService.toggleContacts()"
                />
                <div class="w-px bg-custom-placeholder-gray"></div>
                <img
                  class="w-5 cursor-pointer"
                  src="assets/img/Vector-3.svg"
                  alt="invite"
                />
              </div>
            </ng-template>
          </div>

          <div
            [ngClass]="addTaskService.showContacts && !addTaskService.showInviteNewContact ? '' : 'hidden'"
            formGroupName="contacts"
          >
            <ul class="flex flex-col">
              <li
                *ngFor="let contact of appStateService.contacts"
                class="flex cursor-pointer justify-between px-4 py-3 last:rounded-b-lg hover:bg-custom-blue-active"
              >
                <span>{{ contact.name }}</span>
                <input
                  class="cursor-pointer accent-custom-blue"
                  type="checkbox"
                  name="contacts"
                  [value]="contact"
                  [formControlName]="contact.name"
                />
              </li>
              <li
                class="flex cursor-pointer justify-between rounded-b-lg py-3 px-4 hover:bg-custom-blue-active"
                (click)="addTaskService.toggleInviteNewContact()"
              >
                <span>Invite new contact</span>
                <img src="assets/img/Vector.svg" alt="invite contact" />
              </li>
            </ul>
          </div>
          <span
            *ngIf="addTaskService.form.get('contacts').invalid && addTaskService.submitted"
            class="text-xs text-custom-red-urgent"
            >This field is required</span
          >
          <div class="flex gap-2">
            <span *ngFor="let contact of addTaskService.selectedContacts">
              {{ contact }}
            </span>
          </div>
        </div>

        <div class="mb-4 flex flex-col gap-2">
          <label class="font-bold text-custom-title-gray" for="date"
            >Due date</label
          >
          <input
            class="flex justify-between border-b py-2 px-4 invalid:text-custom-placeholder-gray"
            id="date"
            name="date"
            type="date"
            formControlName="dueDate"
          />
          <span
            *ngIf="addTaskService.form.get('dueDate').invalid && addTaskService.submitted"
            class="text-xs text-custom-red-urgent"
            >This field is required</span
          >
        </div>

        <div class="mb-4 flex flex-col">
          <div class="flex flex-col gap-2">
            <label class="font-bold text-custom-title-gray" for="category"
              >Category</label
            >
            <div class="flex justify-between border-b py-2 px-4">
              <ng-container
                *ngIf="!addTaskService.showCreateNewCategory; else createNewCategory"
              >
                <span *ngIf="!addTaskService.form.controls['category'].value"
                  >Select task category</span
                >

                <div
                  *ngIf="addTaskService.form.controls['category'].value"
                  class="flex items-center gap-5"
                >
                  <span>{{ addTaskService.form.controls["category"].value.name }}</span>
                  <div
                    [ngStyle]="{
                      'background-color': addTaskService.form.controls['category'].value.color
                    }"
                    class="h-4 w-4 rounded-full"
                  ></div>
                </div>
                <img
                  class="cursor-pointer"
                  src="assets/img/Vector 2.svg"
                  alt="select"
                  (click)="addTaskService.toggleCategories()"
                />
              </ng-container>
              <ng-template #createNewCategory>
                <input
                  class="placeholder-custom-placeholder-gray"
                  type="text"
                  placeholder="New Category Name"
                  id="categoryName"
                />
                <div class="flex gap-2">
                  <img
                    class="w-5 cursor-pointer"
                    src="assets/img/cancel.svg"
                    alt="cancel"
                    (click)="addTaskService.toggleNewCategory(); addTaskService.toggleCategories()"
                  />
                  <div class="w-px bg-custom-placeholder-gray"></div>
                  <img
                    class="w-5 cursor-pointer"
                    src="assets/img/Vector-3.svg"
                    alt="invite"
                    (click)="addTaskService.onCreateNewTaskCategory()"
                  />
                </div>
              </ng-template>
            </div>
            <span
              *ngIf="addTaskService.form.get('category').invalid && addTaskService.submitted"
              class="text-xs text-custom-red-urgent"
              >This Field is required</span
            >
          </div>

          <ng-container
            *ngIf="
              addTaskService.showCategories && !addTaskService.showCreateNewCategory;
              else categoryColorsContainer
            "
          >
            <ul class="flex flex-col">
              <li
                class="cursor-pointer px-4 py-3 hover:bg-custom-blue-active"
                (click)="addTaskService.toggleNewCategory()"
              >
                New Category
              </li>
              <li
                *ngFor="let category of appStateService.categories"
                class="cursor-pointer px-4 last:rounded-b-lg hover:bg-custom-blue-active"
              >
                <label
                  class="flex w-full items-center gap-5 py-3"
                  [htmlFor]="category.name"
                >
                  <span>{{ category.name }}</span>
                  <div
                    [ngStyle]="{ 'background-color': category.color }"
                    class="h-4 w-4 rounded-full"
                  ></div>
                  <input
                    [id]="category.name"
                    type="radio"
                    [value]="category"
                    formControlName="category"
                    class="hidden"
                  />
                </label>
              </li>
            </ul>
          </ng-container>

          <ng-template #categoryColorsContainer>
            <ng-container *ngIf="addTaskService.showCreateNewCategory">
              <div class="mt-5 flex gap-5 px-4">
                <div
                  *ngFor="let color of addTaskService.categoryColors"
                  [ngClass]="
                    addTaskService.selectedColor == color ? 'shadow-custom-category-color' : ''
                  "
                  [ngStyle]="{ 'background-color': color }"
                  class="h-4 w-4 cursor-pointer rounded-full border-2 border-white"
                  (click)="addTaskService.selectColor(color)"
                ></div>
              </div>
            </ng-container>
          </ng-template>
        </div>

        <app-choose-urgency></app-choose-urgency>
       

        <div class="mb-4 flex flex-col gap-2">
          <label class="font-bold text-custom-title-gray" for="description"
            >Description</label
          >

          <textarea
            class="rounded-r-lg rounded-bl-lg border p-4 placeholder-custom-placeholder-gray"
            name="description"
            id="description"
            placeholder="Enter a description"
            formControlName="description"
          ></textarea>

          <span
            *ngIf="addTaskService.form.get('description').invalid && addTaskService.submitted"
            class="text-xs text-custom-red-urgent"
            >This field is required</span
          >
        </div>

        <div class="flex flex-col gap-2" formGroupName="subtasks">
          <label class="font-bold text-custom-title-gray" for="subtask"
            >Subtasks</label
          >

          <div class="flex justify-between border-b py-2 px-4">
            <input
              class="placeholder-custom-placeholder-gray"
              id="subtask"
              placeholder="Add new subtask"
              type="text"
            />
            <img
              class="cursor-pointer"
              src="assets/img/Vector-2.svg"
              alt="add subtask"
              (click)="addTaskService.onCreateNewSubtask()"
            />
          </div>

          <div *ngFor="let subtask of addTaskService.subtasks" class="flex gap-4">
            <input
              class="cursor-pointer"
              type="checkbox"
              [value]="subtask"
              [formControlName]="subtask"
            />
            <span>{{ subtask }}</span>
          </div>
        </div>
      </div>
    </div>
  </form>
  </div>
